# Feature Engineering

### CISC 351 - Data Analytics
### Marshall Ruse, 1006 6247

This notebook is responsible for the creation of featureMatrix via featuretools. 


Download the appropriate libraries.  featuretools requires at least
pandas 0.23.4, which depends on at least numpy 1.9.0

In [0]:
#!pip install featuretools
#!pip install -U -q PyDrive
#!pip uninstall numpy
#!pip install -I numpy==1.9.0
#!pip install numpy --upgrade
#!pip install -Iv pandas==0.23.4
#!pip install sklearn --upgrade

In [0]:
import numpy as np
import pandas as pd
import featuretools as ft
from sklearn.ensemble import RandomForestClassifier

In [3]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

All of the different permutations of the dataset that could be read in:

In [4]:
# Import datasets
# Currently imported with only the first 1000 rows, sorted by clients, to speed up
# operations. Sorting by clients is necessary for the featuretools
# Relational operations conducted below.
# Final version will require the whole dataset




# The prepared, reduced size dataset to be used for final model development
appTrain = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/application_train_prepared.csv')
appTest = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/application_test_from_train_prepared.csv')
bureau = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/bureau_prepared.csv')
bureauBalance = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/bureau_balance_prepared.csv')
POSCash = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/POS_Cash_prepared.csv')
creditCard = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/credit_card_prepared.csv')
prevApps = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/previous_applications_prepared.csv')
installmentsPayments = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/installments_payments_prepared.csv')


'''
# The original full dataset. Uncomment when ready.
appTrainOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/application_train.csv')
appTestOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/application_test.csv')
bureauOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/bureau.csv')
bureauBalanceOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/bureau_balance.csv')
POSCashOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/POS_CASH_balance.csv')
creditCardOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/credit_card_balance.csv')
prevAppsOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/previous_application.csv')
installmentsPaymentsOrig = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/installments_payments.csv')
'''

'''
# The imputed, One-Hot Encoded full dataset. Uncomment when ready.
appTrain = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/application_train_imp_OHE.csv')
appTest = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/application_test_imp_OHE.csv')
bureau = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/bureau_imp_OHE.csv')
bureauBalance = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/bureau_balance_imp_OHE.csv')
POSCash = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/POS_Cash_imp_OHE.csv')
creditCard = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/credit_card_imp_OHE.csv')
prevApps = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/previous_applications_imp_OHE.csv')
installmentsPayments = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_imp_OHE/installments_payments_imp_OHE.csv')
'''

'''
# The non-imputed, One-Hot Encoded full dataset. Uncomment when ready.
appTrain = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/application_train_OHE.csv')
appTest = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/application_test_OHE.csv')
bureau = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/bureau_OHE.csv')
bureauBalance = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/bureau_balance_OHE.csv')
POSCash = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/POS_Cash_OHE.csv')
creditCard = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/credit_card_OHE.csv')
prevApps = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/previous_applications_OHE.csv')
installmentsPayments = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/installments_payments_OHE.csv')
'''

'''
# The reduced dataset
appTrain = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/application_train_reduced.csv')
appTrain.name = 'application_train'

appTest = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/application_test.csv')
bureau = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/bureau_reduced.csv')
bureauBalance = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/bureau_balance_reduced.csv')
POSCash = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/POS_Cash_reduced.csv')
creditCard = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/credit_card_reduced.csv')
prevApps = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/previous_applications_reduced.csv')
installmentsPayments = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/installments_payments_reduced.csv')
'''

"\n# The reduced dataset\nappTrain = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/application_train_reduced.csv')\nappTrain.name = 'application_train'\n\nappTest = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/application_test.csv')\nbureau = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/bureau_reduced.csv')\nbureauBalance = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/bureau_balance_reduced.csv')\nPOSCash = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/POS_Cash_reduced.csv')\ncreditCard = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/credit_card_reduced.csv')\nprevApps = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/previous_applications_reduced.csv')\ninstallmentsPayments = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/installments_payments_reduced.csv')\n"

In [12]:
bureauBalance.shape

(1701970, 11)

In [13]:
appTest.shape

(4871, 114)

Previous versions of the featureMatrix that have been saved:

In [0]:
#featureMatrix = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/featureMatrix_reduced_OHE.csv', nrows=20)

In [0]:
#featureMatrixFull = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/featureMatrix_reduced_OHE.csv')

/usr/local/lib/python3.6/dist-packages/IPython/core/interactiveshell.py:2718: DtypeWarning: Columns (104,105,106,107,108,109,110,111,112,113,114,115,116,117,118,119,156,157,158,214,232,238,364,365,470) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [0]:
# Work with a reduced set of records for faster experimental performance.  For more 
# accurate results, need to do more than just load in the first x number of records,
# since subsequent tables will have varying number of records corresponding to those.
# The resulting csv's will be loaded above in subsequent tests for faster experimentation.
'''
appTrain = appTrainOrig.sort_values('SK_ID_CURR').reset_index(drop=True).loc[:30751,:]
#appTest = appTest.sort_values('SK_ID_CURR').reset_index(drop=True).loc[:48744,:]
appTestFromTrain = appTrainOrig.sort_values('SK_ID_CURR').reset_index(drop=True).loc[50000:54870,:]

# reduced bureau = original bureau, if SK_ID_CURR in original bureau is in reduced appTrain's SK_ID_CURRS
bureau = bureauOrig.loc[bureauOrig['SK_ID_CURR'].isin(appTrain['SK_ID_CURR'])]
bureau.sort_values('SK_ID_CURR', inplace=True)
# reduced bureauTest = original bureau if original bureau's SK_ID_CURR is in appTestFromTrain's SK_ID_CURR
bureauTest = bureauOrig.loc[bureauOrig['SK_ID_CURR'].isin(appTestFromTrain['SK_ID_CURR'])]
bureauTest.sort_values('SK_ID_CURR', inplace=True)
bureauMerged = bureau.append(bureauTest, ignore_index=True)

bureauBalance = bureauBalanceOrig.loc[bureauBalanceOrig['SK_ID_BUREAU'].isin(bureau['SK_ID_BUREAU'])]
bureauBalance.sort_values('SK_ID_BUREAU', inplace=True)
bureauBalanceTest = bureauBalanceOrig.loc[bureauBalanceOrig['SK_ID_BUREAU'].isin(bureauTest['SK_ID_BUREAU'])]
bureauBalanceTest.sort_values('SK_ID_BUREAU', inplace=True)
bureauBalanceMerged = bureauBalance.append(bureauBalanceTest, ignore_index=True)

prevApps = prevAppsOrig.loc[prevAppsOrig['SK_ID_CURR'].isin(appTrain['SK_ID_CURR'])]
prevApps.sort_values('SK_ID_CURR', inplace=True)
prevAppsTest = prevAppsOrig.loc[prevAppsOrig['SK_ID_CURR'].isin(appTestFromTrain['SK_ID_CURR'])]
prevAppsTest.sort_values('SK_ID_CURR', inplace=True)
prevAppsMerged = prevApps.append(prevAppsTest, ignore_index=True)

POSCash = POSCashOrig.loc[(POSCashOrig['SK_ID_CURR'].isin(appTrain['SK_ID_CURR'])) & (POSCashOrig['SK_ID_PREV'].isin(prevApps['SK_ID_PREV']))]
POSCash.sort_values('SK_ID_CURR', inplace=True)
POSCashTest = POSCashOrig.loc[(POSCashOrig['SK_ID_CURR'].isin(appTestFromTrain['SK_ID_CURR'])) & (POSCashOrig['SK_ID_PREV'].isin(prevAppsTest))]
POSCashTest.sort_values('SK_ID_CURR', inplace=True)
POSCashMerged = POSCash.append(POSCashTest, ignore_index=True)

creditCard = creditCardOrig.loc[(creditCardOrig['SK_ID_CURR'].isin(appTrain['SK_ID_CURR'])) & (creditCardOrig['SK_ID_PREV'].isin(prevApps['SK_ID_PREV']))]
creditCard.sort_values('SK_ID_CURR', inplace=True)
creditCardTest = creditCardOrig.loc[(creditCardOrig['SK_ID_CURR'].isin(appTestFromTrain['SK_ID_CURR'])) & (creditCardOrig['SK_ID_PREV'].isin(prevAppsTest['SK_ID_PREV']))]
creditCardTest.sort_values('SK_ID_CURR', inplace=True)
creditCardMerged = creditCard.append(creditCardTest, ignore_index=True)

installmentsPayments = installmentsPaymentsOrig.loc[(installmentsPaymentsOrig['SK_ID_CURR'].isin(appTrain['SK_ID_CURR'])) & (installmentsPaymentsOrig['SK_ID_PREV'].isin(prevApps['SK_ID_PREV']))]
installmentsPayments.sort_values('SK_ID_CURR', inplace=True)
installmentsPaymentsTest = installmentsPaymentsOrig.loc[(installmentsPaymentsOrig['SK_ID_CURR'].isin(appTestFromTrain['SK_ID_CURR'])) & (installmentsPaymentsOrig['SK_ID_PREV'].isin(prevAppsTest['SK_ID_PREV']))]
installmentsPaymentsTest.sort_values('SK_ID_CURR', inplace=True)
installmentsPaymentsMerged = installmentsPayments.append(installmentsPaymentsTest, ignore_index=True)

appTrain.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/application_train_reduced.csv')
#appTest.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/application_test_reduced.csv')
appTestFromTrain.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/application_test_from_trained_reduced.csv')
bureauMerged.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/bureau_reduced.csv')
bureauBalanceMerged.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/bureau_balance_reduced.csv')
prevAppsMerged.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/previous_applications_reduced.csv')
POSCashMerged.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/POS_Cash_reduced.csv')
creditCardMerged.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/credit_card_reduced.csv')
installmentsPaymentsMerged.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/installments_payments_reduced.csv')
'''

/usr/local/lib/python3.6/dist-packages/numpy/lib/arraysetops.py:569: FutureWarning: elementwise comparison failed; returning scalar instead, but in the future will perform elementwise comparison
  mask |= (ar1 == a)

In [0]:
dataFrames = [appTrain,appTest,bureau,bureauBalance,POSCash,creditCard,prevApps,installmentsPayments]

In [0]:
# Reduce the memory usage of the dataframes
def reduce_memory(df):
  '''
  reduce_memory takes as input a dataframe, and transforms each column to be memory efficient.
  For instance, converting 64-bit integers to 32, object types to categorical, etc. 
  '''
  
  for col in df:
    
    # Transform ids to integers
    if ('SK_ID' in col):
      df[col] = df[col].fillna(0).astype(np.int32)
    
    # Transform object types to categorical
    elif (df[col].dtype == 'object') and (df[col].nunique() < df.shape[0]):
      df[col] = df[col].astype('category')
    
    # Transform binary integers to booleans
    elif (list(df[col].unique()) == [1,0]):
      df[col] = df[col].astype(bool)
      
    # Transform default float64 to float32
    elif df[col].dtype == float:
      df[col] = df[col].astype(np.float32)
    
    # Transform default int64 to int32
    elif df[col].dtype == int:
      df[col] = df[col].astype(np.int32)
      
  return df

for df in dataFrames:
  df = reduce_memory(df)

Name the dataframes for nicer result reporting. If the datasets have not been One Hot Encoded, doing that here as well:

In [0]:
notOHE = False

appTrain.name = 'application_train'
appTest.name = 'application_test'
bureau.name = 'bureau'
bureauBalance.name = 'bureau_balance'
POSCash.name = 'POS_CASH_balance'
creditCard.name = 'credit_card_balance'
prevApps.name = 'previous_applications'
installmentsPayments.name = 'installments_payments'

if notOHE:
  
  for df in dataFrames:
    dfName = df.name
    print("Dimensions of {} BEFORE One Hot Encoding: {}".format(df.name, df.shape))
    df = pd.get_dummies(df)
    df.name = dfName
    print("Dimensions of {} AFTER One Hot Encoding: {}".format(df.name, df.shape))
    
trainingLabels = appTrain['TARGET']

appTrain, appTest = appTrain.align(appTest, join='inner', axis=1)
appTrain['TARGET'] = trainingLabels

print("appTrain shape: {}".format(appTrain.shape))
print("appTest shape: {}".format(appTest.shape))

appTrain shape: (30752, 115)
appTest shape: (4871, 114)

Check all tables for Unnamed: 0, the index of these tables that had been saved as an additional column previously:

In [0]:
appTrain.head(2)

,SK_ID_CURR,FLAG_DOCUMENT_3,FLOORSMIN_AVG,OWN_CAR_AGE,EXT_SOURCE_1,FLOORSMAX_AVG,EXT_SOURCE_3,DEF_60_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,...,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Working,CODE_GENDER_F,CODE_GENDER_M,TARGET
0,100002,True,0.1250,14.635930,0.083037,0.0833,0.139376,2.0,0.262949,351000.0,...,0,0,True,0,0,0,True,0,True,True
1,100003,True,0.3333,9.954078,0.311267,0.2917,0.435234,0.0,0.622246,1129500.0,...,0,0,False,0,0,1,False,1,False,False

In [0]:
appTest.head(2)

,SK_ID_CURR,FLAG_DOCUMENT_3,FLOORSMIN_AVG,OWN_CAR_AGE,EXT_SOURCE_1,FLOORSMAX_AVG,EXT_SOURCE_3,DEF_60_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,...,NAME_EDUCATION_TYPE_Higher education,NAME_EDUCATION_TYPE_Incomplete higher,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Working,CODE_GENDER_F,CODE_GENDER_M
0,157878,0,0.167932,6.000000,0.342195,0.192155,0.622922,2.0,0.623227,945000.0,...,0,0,0,True,0,True,0,0,0,True
1,157879,0,0.311685,13.659824,0.076905,0.333300,0.656158,0.0,0.430050,540000.0,...,0,0,0,True,0,False,0,1,0,True

In [0]:
bureau.head(2)

,Unnamed: 0,SK_ID_CURR,SK_ID_BUREAU,DAYS_CREDIT,CREDIT_DAY_OVERDUE,DAYS_CREDIT_ENDDATE,DAYS_ENDDATE_FACT,AMT_CREDIT_MAX_OVERDUE,CNT_CREDIT_PROLONG,AMT_CREDIT_SUM,...,CREDIT_TYPE_Cash loan (non-earmarked),CREDIT_TYPE_Consumer credit,CREDIT_TYPE_Credit card,CREDIT_TYPE_Loan for business development,CREDIT_TYPE_Loan for the purchase of equipment,CREDIT_TYPE_Loan for working capital replenishment,CREDIT_TYPE_Microloan,CREDIT_TYPE_Mortgage,CREDIT_TYPE_Real estate loan,CREDIT_TYPE_Unknown type of loan
0,0,100002,6158904,-1125,0,-1038.000000,-1038.0,-481.465942,0,40761.0,...,0,0,True,0,0,0,0,0,0,0
1,1,100002,6158905,-476,0,1571.370483,-48.0,2126.712158,0,0.0,...,0,0,True,0,0,0,0,0,0,0

In [0]:
bureau.drop(bureau.columns[0],axis=1,inplace=True)

In [0]:
bureauBalance.head(2)

,Unnamed: 0,SK_ID_BUREAU,MONTHS_BALANCE,STATUS_0,STATUS_1,STATUS_2,STATUS_3,STATUS_4,STATUS_5,STATUS_C,STATUS_X
0,0,5008833,-41,0,0,0,0,0,0,True,0
1,1,5008833,-70,0,0,0,0,0,0,True,0

In [0]:
bureauBalance.drop(bureauBalance.columns[0], axis=1, inplace=True)

In [0]:
prevApps.head(2)

,Unnamed: 0,SK_ID_PREV,SK_ID_CURR,AMT_ANNUITY,AMT_APPLICATION,AMT_CREDIT,AMT_DOWN_PAYMENT,AMT_GOODS_PRICE,HOUR_APPR_PROCESS_START,NFLAG_LAST_APPL_IN_DAY,...,PRODUCT_COMBINATION_Cash X-Sell: middle,PRODUCT_COMBINATION_POS household with interest,PRODUCT_COMBINATION_POS household without interest,PRODUCT_COMBINATION_POS industry with interest,PRODUCT_COMBINATION_POS industry without interest,PRODUCT_COMBINATION_POS mobile with interest,PRODUCT_COMBINATION_POS mobile without interest,PRODUCT_COMBINATION_POS other with interest,PRODUCT_COMBINATION_POS others without interest,PRODUCT_COMBINATION_UNKNOWN
0,0,1038818,100002,9251.775391,179055.0,179055.0,0.000000,179055.0,9,True,...,0,0,0,0,0,0,0,True,0,0
1,1,1810518,100003,98356.992188,900000.0,1035882.0,5348.722656,900000.0,12,True,...,0,0,0,0,0,0,0,False,0,0

In [0]:
prevApps.drop(prevApps.columns[0], axis=1, inplace=True)

In [0]:
POSCash.head(2)

,Unnamed: 0,Unnamed: 0.1,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Demand,NAME_CONTRACT_STATUS_Returned to the store,NAME_CONTRACT_STATUS_Signed
0,0,0,1038818,100002,-14,24.0,19.0,0,0,True,0,0,0,0,0,0
1,1,1,1038818,100002,-15,24.0,20.0,0,0,True,0,0,0,0,0,0

In [0]:
POSCash.drop(POSCash.columns[[0,1]], axis=1, inplace=True)

In [0]:
POSCash.head(2)

,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,CNT_INSTALMENT,CNT_INSTALMENT_FUTURE,SK_DPD,SK_DPD_DEF,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Approved,NAME_CONTRACT_STATUS_Canceled,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Demand,NAME_CONTRACT_STATUS_Returned to the store,NAME_CONTRACT_STATUS_Signed
0,1038818,100002,-14,24.0,19.0,0,0,True,0,0,0,0,0,0
1,1038818,100002,-15,24.0,20.0,0,0,True,0,0,0,0,0,0

In [0]:
creditCard.head(2)

,Unnamed: 0,SK_ID_PREV,SK_ID_CURR,MONTHS_BALANCE,AMT_BALANCE,AMT_CREDIT_LIMIT_ACTUAL,AMT_DRAWINGS_ATM_CURRENT,AMT_DRAWINGS_CURRENT,AMT_DRAWINGS_OTHER_CURRENT,AMT_DRAWINGS_POS_CURRENT,...,CNT_DRAWINGS_OTHER_CURRENT,CNT_DRAWINGS_POS_CURRENT,CNT_INSTALMENT_MATURE_CUM,SK_DPD,SK_DPD_DEF,NAME_CONTRACT_STATUS_Active,NAME_CONTRACT_STATUS_Completed,NAME_CONTRACT_STATUS_Refused,NAME_CONTRACT_STATUS_Sent proposal,NAME_CONTRACT_STATUS_Signed
0,0,1489396,100006,-1,0.0,270000,-414.657776,0.0,-31.784298,845.230774,...,0.001746,0.046580,0.0,0,0,True,0,0,0,0
1,1,1489396,100006,-4,0.0,270000,-414.657776,0.0,-31.784298,801.278748,...,0.001746,0.041977,0.0,0,0,True,0,0,0,0

In [0]:
creditCard.drop(creditCard.columns[0],axis=1,inplace=True)

In [0]:
installmentsPayments.head(2)

,Unnamed: 0,SK_ID_PREV,SK_ID_CURR,NUM_INSTALMENT_VERSION,NUM_INSTALMENT_NUMBER,DAYS_INSTALMENT,DAYS_ENTRY_PAYMENT,AMT_INSTALMENT,AMT_PAYMENT
0,0,1038818,100002,1.0,1,-565.0,-587.0,9251.775391,9251.775391
1,1,1038818,100002,1.0,9,-325.0,-344.0,9251.775391,9251.775391

In [0]:
installmentsPayments.drop(installmentsPayments.columns[0], axis=1, inplace=True)

In [0]:
# Merge training and testing dataset for simultaneous feature addition
# Keep track of which data is which with an additional column
appTrain['set'] = 'train'
appTest['set'] = 'test'
appTest['TARGET'] = np.nan

appMerged = appTrain.append(appTest, ignore_index=True)

In [0]:
appTest.head()

,SK_ID_CURR,FLAG_DOCUMENT_3,FLOORSMIN_AVG,OWN_CAR_AGE,EXT_SOURCE_1,FLOORSMAX_AVG,EXT_SOURCE_3,DEF_60_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,...,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Working,CODE_GENDER_F,CODE_GENDER_M,set,TARGET
0,157878,0,0.167932,6.000000,0.342195,0.192155,0.622922,2.0,0.623227,945000.0,...,0,True,0,True,0,0,0,True,test,NaN
1,157879,0,0.311685,13.659824,0.076905,0.333300,0.656158,0.0,0.430050,540000.0,...,0,True,0,False,0,1,0,True,test,NaN
2,157880,1,0.083300,13.662455,0.391924,0.041700,0.524496,0.0,0.447755,238500.0,...,0,False,0,False,0,1,1,False,test,NaN
3,157881,1,0.170275,14.924050,0.678117,0.170080,0.546555,0.0,0.235904,270000.0,...,0,True,0,True,0,0,1,False,test,NaN
4,157882,1,0.071557,14.072593,0.511578,0.041700,0.454321,4.0,0.615054,450000.0,...,0,True,0,False,1,0,1,False,test,NaN

In [0]:
appTrain.head()

,SK_ID_CURR,FLAG_DOCUMENT_3,FLOORSMIN_AVG,OWN_CAR_AGE,EXT_SOURCE_1,FLOORSMAX_AVG,EXT_SOURCE_3,DEF_60_CNT_SOCIAL_CIRCLE,EXT_SOURCE_2,AMT_GOODS_PRICE,...,NAME_EDUCATION_TYPE_Lower secondary,NAME_EDUCATION_TYPE_Secondary / secondary special,NAME_INCOME_TYPE_Commercial associate,NAME_INCOME_TYPE_Pensioner,NAME_INCOME_TYPE_State servant,NAME_INCOME_TYPE_Working,CODE_GENDER_F,CODE_GENDER_M,TARGET,set
0,100002,True,0.125000,14.635930,0.083037,0.083300,0.139376,2.0,0.262949,351000.0,...,0,True,0,0,0,True,0,True,True,train
1,100003,True,0.333300,9.954078,0.311267,0.291700,0.435234,0.0,0.622246,1129500.0,...,0,False,0,0,1,False,1,False,False,train
2,100004,False,0.163025,26.000000,0.635005,0.175773,0.729567,0.0,0.555912,135000.0,...,0,True,0,0,0,True,0,True,False,train
3,100006,True,0.168868,13.254353,0.647556,0.180762,0.548509,0.0,0.650442,297000.0,...,0,True,0,0,0,True,1,False,False,train
4,100007,False,0.176795,13.418168,0.612465,0.175770,0.520952,0.0,0.322738,513000.0,...,0,True,0,0,0,True,0,True,False,train

In [0]:
# Create featuretools EntitySets out of the dataframes
entitySet = ft.EntitySet(id='applications')

entitySet = entitySet.entity_from_dataframe(entity_id='appMerged', dataframe=appMerged, index='SK_ID_CURR')

entitySet = entitySet.entity_from_dataframe(entity_id='bureau', dataframe=bureau, index='SK_ID_BUREAU')

entitySet = entitySet.entity_from_dataframe(entity_id='bureauBalance', dataframe=bureauBalance, 
                              make_index=True, index='bureauBalance_index')

entitySet = entitySet.entity_from_dataframe(entity_id='POSCash', dataframe=POSCash, 
                              make_index=True, index='POSCash_index')

entitySet = entitySet.entity_from_dataframe(entity_id='creditCard', dataframe=creditCard,
                              make_index=True, index='creditCard_index')

entitySet = entitySet.entity_from_dataframe(entity_id='prevApps', dataframe=prevApps, index='SK_ID_PREV')

entitySet = entitySet.entity_from_dataframe(entity_id='installmentsPayments', dataframe=installmentsPayments,
                              make_index=True, index='installmentsPayments_index')

In [0]:
# Define the featuretools relationships
# relationships are hierarchical, with a one-to-many relationship as one descends
# through the hierarchy.  Dataframes are related by the indices of the parents
# acting as foreign keys of their children

# appMerged -> bureau
rel_appMerged_bureau = ft.Relationship(entitySet['appMerged']['SK_ID_CURR'],
                                       entitySet['bureau']['SK_ID_CURR'])

# bureau -> bureauBalance
rel_bureau_bureauBalance = ft.Relationship(entitySet['bureau']['SK_ID_BUREAU'], 
                                           entitySet['bureauBalance']['SK_ID_BUREAU'])

# appMerged -> prevApps
rel_appMerged_prevApps = ft.Relationship(entitySet['appMerged']['SK_ID_CURR'], 
                                         entitySet['prevApps']['SK_ID_CURR'])

# prevApps -> POSCash, creditCards, and installmentsPayments
rel_prevApps_POSCash = ft.Relationship(entitySet['prevApps']['SK_ID_PREV'],
                                       entitySet['POSCash']['SK_ID_PREV'])

rel_prevApps_creditCard = ft.Relationship(entitySet['prevApps']['SK_ID_PREV'], 
                                          entitySet['creditCard']['SK_ID_PREV'])

rel_prevApps_installmentsPayments = ft.Relationship(entitySet['prevApps']['SK_ID_PREV'], 
                                                    entitySet['installmentsPayments']['SK_ID_PREV'])


# add the relationships to the EntitySet
entitySet = entitySet.add_relationships([rel_appMerged_bureau,
                                        rel_bureau_bureauBalance,
                                        rel_appMerged_prevApps,
                                        rel_prevApps_POSCash,
                                        rel_prevApps_creditCard,
                                        rel_prevApps_installmentsPayments])

# View the entitySet 
entitySet

Entityset: applications
  Entities:
    appMerged [Rows: 35623, Columns: 116]
    bureau [Rows: 169502, Columns: 34]
    bureauBalance [Rows: 1701970, Columns: 11]
    POSCash [Rows: 821303, Columns: 15]
    creditCard [Rows: 265352, Columns: 28]
    prevApps [Rows: 163308, Columns: 162]
    installmentsPayments [Rows: 1207703, Columns: 9]
  Relationships:
    bureau.SK_ID_CURR -> appMerged.SK_ID_CURR
    bureauBalance.SK_ID_BUREAU -> bureau.SK_ID_BUREAU
    prevApps.SK_ID_CURR -> appMerged.SK_ID_CURR
    POSCash.SK_ID_PREV -> prevApps.SK_ID_PREV
    creditCard.SK_ID_PREV -> prevApps.SK_ID_PREV
    installmentsPayments.SK_ID_PREV -> prevApps.SK_ID_PREV

In [0]:
pd.__version__

'0.23.4'

In [0]:
# aggregative primitives
aggPrims =  ["sum", "max", "min", "mean", "std", "count", "mode","skew"]

# DFS with specified primitives

# featureMatrix saved to csv, so this will be commented out for now, and the 
# reduced feature matrix can be loaded from csv when need be

featureMatrix, featureNames = ft.dfs(entityset = entitySet, target_entity = 'appMerged',
                       agg_primitives=aggPrims,
                       trans_primitives = [],
                       ignore_variables = {"creditCard" : ['SK_ID_CURR'],
                       "POSCash" : ['SK_ID_CURR'],
                       "installmentsPayments" : ['SK_ID_CURR'],
                       "appMerged" : ['set']},
                       max_depth=2)

print('%d Total Features' % len(featureNames))

# Save the featureMatrix
featureMatrix.to_csv('/content/drive/My Drive/CISC351/dataSet/preparedDataSet/featureMatrix.csv')
#featureMatrix.to_csv('/content/drive/My Drive/CISC351/dataSet/dataSet_OHE/featureMatrix_OHE.csv')
#featureMatrix.to_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/featureMatrix_reduced.csv')


# load the feature matrix
#featureMatrix = pd.read_csv('/content/drive/My Drive/CISC351/dataSet/reducedDataSet/featureMatrix_reduced.csv')

2985 Total Features

In [0]:
featureMatrix.head(50)

,AMT_ANNUITY,AMT_CREDIT,AMT_GOODS_PRICE,AMT_INCOME_TOTAL,CODE_GENDER_F,CODE_GENDER_M,DAYS_BIRTH,DAYS_EMPLOYED,DAYS_ID_PUBLISH,DAYS_LAST_PHONE_CHANGE,...,SKEW(prevApps.MEAN(installmentsPayments.AMT_INSTALMENT)),SKEW(prevApps.MEAN(installmentsPayments.AMT_PAYMENT)),SKEW(prevApps.STD(installmentsPayments.Unnamed: 0)),SKEW(prevApps.STD(installmentsPayments.NUM_INSTALMENT_VERSION)),SKEW(prevApps.STD(installmentsPayments.NUM_INSTALMENT_NUMBER)),SKEW(prevApps.STD(installmentsPayments.DAYS_INSTALMENT)),SKEW(prevApps.STD(installmentsPayments.DAYS_ENTRY_PAYMENT)),SKEW(prevApps.STD(installmentsPayments.AMT_INSTALMENT)),SKEW(prevApps.STD(installmentsPayments.AMT_PAYMENT)),SKEW(prevApps.COUNT(installmentsPayments))
SK_ID_CURR,,,,,,,,,,,,,,,,,,,,,
100002,24700.5,406597.5,351000.0,202500.00000,0,True,-9461,-637,-2120,-1134.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100003,35698.5,1293502.5,1129500.0,270000.00000,1,False,-16765,-1188,-291,-828.0,...,0.767384,0.767384,0.596407,1.732051,1.544987,1.544987,1.542378,1.732049,1.732049,1.545393
100004,6750.0,135000.0,135000.0,67500.00000,0,True,-19046,-225,-2531,-815.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100006,29686.5,312682.5,297000.0,135000.00000,1,False,-19005,-3039,-2437,-617.0,...,1.724660,1.724660,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.095129
100007,21865.5,513000.0,513000.0,121500.00000,0,True,-19932,-3038,-3458,-1106.0,...,-0.225787,-0.388206,0.014901,2.236068,1.281383,1.281383,1.150540,1.353774,2.023731,-1.605859
100008,27517.5,490495.5,454500.0,99000.00000,0,True,-16941,-1588,-477,-2536.0,...,1.905436,1.903750,1.157720,2.000000,-0.695381,-0.695380,1.959036,1.999999,1.996665,-1.267824
100009,41301.0,1560726.0,1395000.0,171000.00000,1,False,-13778,-3130,-619,-1562.0,...,2.079952,2.079952,1.176300,0.000000,1.206301,1.206302,1.183266,0.155691,0.155691,-0.026694
100010,42075.0,1530000.0,1530000.0,360000.00000,0,True,-18850,-449,-2379,-1070.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100011,33826.5,1019610.0,913500.0,112500.00000,1,False,-20099,365243,-3514,0.0,...,0.736913,1.213022,-1.528157,0.000000,1.168405,1.102235,1.713449,1.731610,1.281677,0.845180
100012,20250.0,405000.0,405000.0,135000.00000,0,True,-14469,-2019,-3992,-1673.0,...,-1.708936,-0.782930,-0.074702,1.587642,1.135082,1.135083,1.375948,1.730298,1.729900,0.000000
100014,21177.0,652500.0,652500.0,112500.00000,1,False,-10197,-679,-738,-844.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100015,10678.5,148365.0,135000.0,38419.15625,1,False,-20417,365243,-2512,-2396.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100016,5881.5,80865.0,67500.0,67500.00000,1,False,-13439,-2717,-3227,-2370.0,...,1.674898,1.462517,1.674990,1.732051,1.263750,1.263749,1.047482,1.732048,1.732049,-0.558905
100017,28966.5,918468.0,697500.0,225000.00000,0,True,-14086,-3028,-4911,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100018,32778.0,773680.5,679500.0,189000.00000,1,False,-14583,-203,-2056,-188.0,...,-0.431839,-0.431839,-0.507507,1.732051,1.150600,1.423238,1.551777,1.731902,1.731902,0.000000
100019,20160.0,299772.0,247500.0,157500.00000,0,True,-8728,-1157,-1368,-925.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100020,26149.5,509602.5,387000.0,108000.00000,0,True,-12931,-1317,-3866,-3.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100021,13500.0,270000.0,270000.0,81000.00000,1,False,-9776,-191,-2427,-2811.0,...,0.644055,0.644055,-0.324392,0.280764,-0.718593,-0.718593,-1.259248,0.921573,0.921573,-0.160917
100022,7875.0,157500.0,157500.0,112500.00000,1,False,-17718,-7804,-1259,-239.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100023,17563.5,544491.0,454500.0,90000.00000,1,False,-11348,-2038,-3964,-1850.0,...,1.728355,1.728355,1.527145,0.744626,0.582551,0.582551,1.088391,1.730114,1.730114,0.422521
100024,21375.0,427500.0,427500.0,135000.00000,0,True,-18252,-4286,-1800,-296.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100025,37561.5,1132573.5,927000.0,202500.00000,1,False,-14815,-1652,-2299,0.0,...,0.171065,0.171679,-0.023767,0.052752,1.985730,1.978520,1.892884,0.243010,0.266427,2.080327
100026,32521.5,497520.0,450000.0,450000.00000,1,False,-11146,-4306,-2518,-468.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.935220
100027,23850.0,239850.0,225000.0,83250.00000,1,False,-24827,365243,-3684,-795.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.083801
100029,12703.5,247500.0,247500.0,135000.00000,0,True,-11286,-746,-3729,-4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100030,11074.5,225000.0,225000.0,90000.00000,1,False,-19334,-3494,-2893,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3.247344
100031,27076.5,979992.0,702000.0,112500.00000,1,False,-18724,-2628,-1827,-161.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100032,23827.5,327024.0,270000.0,112500.00000,0,True,-15948,-1234,-3153,-2.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100033,57676.5,790830.0,675000.0,270000.00000,0,True,-9994,-1796,-2661,-849.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100034,9000.0,180000.0,180000.0,90000.00000,0,True,-10341,-1010,-3015,-599.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100035,24592.5,665892.0,477000.0,292500.00000,1,False,-15280,-2668,-3787,-1634.0,...,1.323017,1.397355,0.465122,0.201054,0.716636,0.716636,0.687307,1.516503,1.499966,2.151373
100036,25033.5,512064.0,360000.0,112500.00000,1,False,-11144,-1104,-2904,-397.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2.828427
100037,20893.5,199008.0,180000.0,90000.00000,1,False,-12974,-4404,-4464,-2766.0,...,-0.383024,-0.383024,-0.504972,-0.971546,1.544791,1.544791,1.731520,0.689372,0.689372,0.514732
100039,39069.0,733315.5,679500.0,360000.00000,0,True,-11694,-2060,-3557,-697.0,...,1.731493,1.731753,0.200592,1.399172,-0.178042,-0.178043,0.032204,1.730600,1.730494,0.305765
100040,32895.0,1125000.0,1125000.0,135000.00000,1,False,-15997,-4585,-4067,-3019.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100041,44509.5,450000.0,450000.0,112500.00000,1,False,-12158,-1275,-2009,-1285.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100043,23157.0,641173.5,553500.0,198000.00000,1,False,-17199,-768,-735,-2411.0,...,-0.898806,-0.683563,0.215629,1.732051,-0.515565,-0.743755,-1.407326,-1.673449,-1.668166,1.794917
100044,15151.5,454500.0,454500.0,121500.00000,0,True,-21077,-1288,-4270,-1541.0,...,1.537064,1.641804,-1.904067,2.000000,-1.467911,-1.467911,-1.087415,1.999993,1.986829,-1.169199
100045,17338.5,247275.0,225000.0,99000.00000,1,False,-23920,365243,-4969,0.0,...,1.991813,1.995842,-0.100173,2.000000,0.258803,0.258802,0.280579,2.000000,1.994827,-0.380932
100046,27000.0,540000.0,540000.0,180000.00000,0,True,-16126,-1761,-4292,-540.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100047,35028.0,1193580.0,855000.0,202500.00000,0,True,-17482,-1262,-1029,-1075.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.968246
100048,29196.0,604152.0,540000.0,202500.00000,1,False,-16971,-475,-513,-458.0,...,0.902940,0.902940,1.449927,1.732050,1.659341,1.450848,1.543789,1.639726,1.639726,1.826171
100049,16258.5,288873.0,238500.0,135000.00000,1,False,-13384,-3597,-4409,-1480.0,...,-0.468560,-0.180114,1.539970,0.000000,-0.746378,-0.192325,-0.145731,2.235855,1.090431,-0.821056
100050,42970.5,746280.0,675000.0,108000.00000,1,False,-23548,365243,-4576,-491.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.732051
100051,48280.5,661702.5,598500.0,202500.00000,0,True,-9827,-758,-2380,-556.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.732051
100052,9000.0,180000.0,180000.0,90000.00000,1,False,-7974,-895,-642,-462.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100053,17649.0,305221.5,252000.0,202500.00000,1,False,-20373,365243,-1993,-649.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.625730
100054,26838.0,260640.0,225000.0,99000.00000,1,False,-20121,-5332,-3283,-1247.0,...,-0.525533,-1.073438,0.824307,0.000000,-1.694327,-1.694326,-1.736366,1.842770,1.999988,-1.701836
100055,37255.5,1350000.0,1350000.0,130500.00000,1,False,-19727,-4411,-3199,-784.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
100056,49927.5,1506816.0,1350000.0,360000.00000,0,True,-18264,-9523,-1797,-1498.0,...,1.554955,0.713734,-1.100736,-1.372200,-0.335197,1.605887,1.605167,-1.660167,-1.588571,1.620549

In [0]:
featureMatrix.shape

(35623, 3176)